$fleet-speed-horiz: 3%;

// Speed Tite
#fleet-speed-text{
	@include absPosition();
	bottom: $fleet-speed-horiz;
	right: 60%;
}

// Speed Data
#fleet-speed-data{
	@include absPosition();
	bottom: $fleet-speed-horiz;
	left: 45%;
}

//Speed MPG
#fleet-speed-mph{
	@include absPosition();
	bottom: $fleet-speed-horiz;
	left: 55%;
}

// Hide Speed if on med or small screens
@media #{$sml-screen}{
		#fleet-speed-text{display:none;}
		#fleet-speed-data{display:none;}
		#fleet-speed-mph{display:none;}
	}

@media #{$med-screen}{
		#fleet-speed-text{display:none;}
		#fleet-speed-data{display:none;}
		#fleet-speed-mph{display:none;}
	}