
// Primary FSL colors
$fsl-orange: #e66a08;
$fsl-yellow: #ffc20f;
$fsl-slate: #9aa9af;
$fsl-gray-dark: #51626f;
$fsl-gray: #666666;
$fsl-gray-medium: #b0b0b0;
$fsl-gray-light: #ccd6d8;
$fsl-gray-xlight: #e7eaeb;
$fsl-gray-xxlight: #f2f4f6;
$fsl-blue: #008ecb;
$fsl-blue-light: #9bc0e9;
$fsl-lightblue: #8ad3de;
$fsl-lightblue-light: #c4e8ee;
$fsl-purple: #2b368a;
$fsl-purple-light: #6f6fcc;
$fsl-black: #000000;
$fsl-white: #ffffff;


