// Note "-pc" is used to represent "percentage"

// Screen break for media queries
$break-sml: 600px;				//e.g. Phone
$break-med: 600px;				//e.g. Tablet
//###################### -- need to rethink this break!!
//$break-large: 1080px;			//e.g. Monitor	
$break-large: 1190px;			//e.g. Monitor	

// Media query variables - viewport sizes
$sml-screen: "only screen and (max-width: " + $break-sml + ")";
$med-screen: "only screen and (min-width: " + $break-med + ") and (max-width:" + ($break-large - 1px) + ")";
$large-screen: "only screen and (min-width: "+ $break-large + ")";
$notsml-screen: "only screen and (min-width: " + $break-med + ")";
$notlarge-screen: "only screen and (max-width: " + $break-large + ")";

// Media query variables -  viewport aspect ratio
$wide-aspect-ratio: "16/9";
$std-screen: "only screen and (max-aspect-ratio: " + $wide-aspect-ratio + ") and (min-width: "+ $break-large + ")";
$wide-screen: "only screen and (min-aspect-ratio: " + $wide-aspect-ratio + ") and (min-width: "+ $break-large + ")";
$all-std-screen: "only screen and (max-aspect-ratio: " + $wide-aspect-ratio + ")";
$all-wide-screen: "only screen and (min-aspect-ratio: " + $wide-aspect-ratio + ")";

//########################################################################################
// Tile layout
//########################################################################################

//--########################################################################################
// --> Configuration parameters for single & double tiles (modify if required)
//--########################################################################################

$single-tile-margin-sml-dyn: 1.0;			// Margin size (used for margin + width)
$single-tile-min-width: 260px; 			// Minimum width of single tile (linked into screen break)
$single-tile-height-scale-std: 1.2;	// Height scaling factor for standard screens
$single-tile-height-scale-wide: 1.0;	// Height scaling factor for wide screens

//--########################################################################################
//--> Automatically generates correct single tile margins, width & height (do not touch)
//--########################################################################################

//----> Scale single tile margin (as percentage) for 2 & 4 tile layouts (med & large screens)
$single-tile-margin-med-dyn: $single-tile-margin-sml-dyn / 2;
$single-tile-margin-large-dyn: $single-tile-margin-sml-dyn / 4;

//----> Converted scaled margin to percentage
$single-tile-margin-sml-pc: $single-tile-margin-sml-dyn * 1%;
$single-tile-margin-med-pc: $single-tile-margin-med-dyn * 1%;
$single-tile-margin-large-pc: $single-tile-margin-large-dyn * 1%;

//----> Scale single tile width into percentage for 1, 2 & 4 tile layouts (sml, med & large screens)
$single-tile-width-sml: ( 100 - ( 2*  $single-tile-margin-sml-dyn )  ) * 1%; 
$single-tile-width-med: ( ( 100 - ( 4 * $single-tile-margin-med-dyn ) ) / 2 ) * 1%; 
$single-tile-width-large: ( ( 100 - ( 8 * $single-tile-margin-large-dyn ) ) / 4 ) * 1%; 

//----> Wide screen height: Uses square  aspect ratio (1:1)
//----> Standard screen height: Uses longer height aspect ratio (1:n)
$single-tile-height-std-pc: $single-tile-height-scale-std * 100%;
$single-tile-height-wide-pc: $single-tile-height-scale-wide * 100%;

//--########################################################################################
//--> Automatically generates correct double  tile margins, width & height (do not touch)
//--########################################################################################

//----> Small screen width: Same as single tile
//----> Med screen width: 2 x single tile
//----> Large screen width: 2 x single tile
$double-tile-margin-sml-pc: $single-tile-margin-sml-pc;
$double-tile-margin-med-pc: $single-tile-margin-med-pc;
$double-tile-margin-large-pc: $single-tile-margin-large-pc;

//----> Small screen width: Same as single tile
//----> Med screen width: 2 x single tile
//----> Large screen width: 2 x single tile
$double-tile-width-sml: $single-tile-width-sml;
$double-tile-width-med: ($single-tile-width-med * 2) + ($double-tile-margin-med-pc * 2);
$double-tile-width-large: ($single-tile-width-large * 2) + ($single-tile-margin-large-pc * 2);

//----> Save height ratios of the double containers for applying to tile content (wide + std)
$double-tile-height-wide-aspect-ratio: (((2 * $single-tile-width-large) / $double-tile-width-large) / 2) * $single-tile-height-scale-wide;
$double-tile-height-std-aspect-ratio: (((2 * $single-tile-width-large) / $double-tile-width-large) / 2) * $single-tile-height-scale-std;

//----> Small screen height: Same as single tile
//----> Med screen height: Uses square aspect ratio (1:1)
//----> Wide screen height: Uses square  aspect ratio (1:1)
//----> Standard screen height: Uses longer height aspect ratio (1:n)
$double-tile-height-sml-pc: $single-tile-height-wide-pc;
$double-tile-height-med-pc: $double-tile-height-wide-aspect-ratio * 100%;
$double-tile-height-wide-pc: $double-tile-height-wide-aspect-ratio * 100%;
$double-tile-height-std-pc: $double-tile-height-std-aspect-ratio * 100%;


//----> Min-width of double tile is 2 x single tile min-witdh
//----> Except when using sml screen, the use same min-width as single tile
$double-tile-min-width-full: 2 * $single-tile-min-width; 
$double-tile-min-width-compact: $single-tile-min-width;


//########################################################################################
// Tile layout
//########################################################################################

//--########################################################################################
//--> Parameters to adjust Nav bar style (modify if required)
//--########################################################################################

//----> Height of the navigation bar
$nav-height: 3%;		//#####????????
//--########################################################################################
//--> Automatically generates correct margin & width (do not touch)
//--########################################################################################

$nav-margin-sml-pc: $single-tile-margin-sml-pc;
$nav-margin-med-pc: $single-tile-margin-med-pc;
$nav-margin-large-pc: $single-tile-margin-large-pc;

$nav-width-sml: (100 - (2 * $single-tile-margin-sml-dyn)) * 1%;
$nav-width-med: (100 - (2 * $single-tile-margin-med-dyn)) * 1%;
$nav-width-large: (100 - (2 * $single-tile-margin-large-dyn)) * 1%;


//########################################################################################
// Content (contains all tiles) Layout
//--> Modify if required
//########################################################################################
$content-width: 100%;


//########################################################################################
// Container (contains all tiles + nav bars) layout
//--> Modify if required
//########################################################################################
$container-width-dynamic: 92%;
$container-max-width-med: 600px;


//########################################################################################
// Required for font scaling. Works out the max-size of the content, so that the text
// can be scales according to this.
//--> Modify break points only
//########################################################################################
// Create intermediate break points for the med-screen to support text scaling
$container-max-width-med-break2: 700px;
$container-max-width-med-break3: 800px;
$container-max-width-med-break4: 900px;
$container-max-width-med-break5: 1000px;
$container-max-width-med-break6: 1100px;

// Work out the new % of content vs viewport for new breaks (i.e. can be used by fonts as a reference for width)
$container-width-dynamic-break2: ($container-max-width-med/$container-max-width-med-break2) * $container-width-dynamic;
$container-width-dynamic-break3: ($container-max-width-med/$container-max-width-med-break3) * $container-width-dynamic;
$container-width-dynamic-break4: ($container-max-width-med/$container-max-width-med-break4) * $container-width-dynamic;
$container-width-dynamic-break5: ($container-max-width-med/$container-max-width-med-break5) * $container-width-dynamic;
$container-width-dynamic-break6: ($container-max-width-med/$container-max-width-med-break6) * $container-width-dynamic;

// Create new media queries for the intermediate break points
$med-break1-screen: "only screen and (min-width: " + $container-max-width-med + ") and (max-width:" + ($container-max-width-med-break2 - 1px) + ")";
$med-break2-screen: "only screen and (min-width: " + $container-max-width-med-break2 + ") and (max-width:" + ($container-max-width-med-break3 - 1px) + ")";
$med-break3-screen: "only screen and (min-width: " + $container-max-width-med-break3 + ") and (max-width:" + ($container-max-width-med-break4 - 1px) + ")";
$med-break4-screen: "only screen and (min-width: " + $container-max-width-med-break4 + ") and (max-width:" + ($container-max-width-med-break5 - 1px) + ")";
$med-break5-screen: "only screen and (min-width: " + $container-max-width-med-break5 + ") and (max-width:" + ($container-max-width-med-break6 - 1px) + ")";
$med-break6-screen: "only screen and (min-width: " + $container-max-width-med-break6 + ") and (max-width:" + ($break-large - 1px) + ")";



