// Accel Graph
#vd-Accel-obj{
	@media #{$all-wide-screen}{
		top: 20%;
	}
	@media #{$all-std-screen}{
		top: 15%;
	}

	left: 0%;

	height: 80%;
	width: 100%;
}

#vd-Accel-frontArrow{
	@media #{$all-wide-screen}{
		top: 46%;
	}
	@media #{$all-std-screen}{
		top: 43%;
	}
	left: 30%;

	width:4.5%;
	height:auto;
}

#vd-Accel-sideArrow{
	@media #{$all-wide-screen}{
		top: 65%;
	}
	@media #{$all-std-screen}{
		top: 61%;
	}
	left: 27%;

	width:10%;
	height:auto;
}

#vd-xAccel-acceltext{
	top: 25%;
	left:40%;

	text-align:left;		// Overwrite base class
}

#vd-yAccel-acceltext{
	top: 40%;
	left:40%;
	
	text-align:left;		// Overwrite base class
}

#vd-Accel-gstext{
	top: 65%;
}