// Accel Graph
#vd-Accel-obj{
	top: 10%;
	left: 0%;

	height: 80%;
	width: 100%;
}

#vd-Accel-frontArrow{
	top: 54%;
	left: 10%;
}

#vd-xAccel-acceltext{
	top: 54%;
	left: 15%;
}

#vd-Accel-sideArrow{
	top: 54%;
	left: 50%;
}

#vd-yAccel-acceltext{
	top: 54%;
	left: 65%;
}

#vd-Accel-gstext{
	top: 80%;
	left: 45%;
}