// Accel Graph
#vd-HR-obj{
	@media #{$all-wide-screen}{
		top: 20%;
	}
	@media #{$all-std-screen}{
		top: 15%;
	}
	left: 20%;

	height: 60%;
	width: 60%;
}

#vd-HR-hrtext{
	top: 20%;
}

#vd-HR-bpmtext{
	top: 65%;
}