// Accel Graph
#vd-Accel-obj{
	@media #{$all-wide-screen}{
		top: 20%;
	}
	@media #{$all-std-screen}{
		top: 15%;
	}

	left: 0%;

	height: 80%;
	width: 100%;
}

#vd-Accel-frontArrow{
	top: 39%;
	left: 30%;

	width:4.5%;
	height:auto;
}

#vd-Accel-sideArrow{
	top: 59%;
	left: 27%;

	width:10%;
	height:auto;
}

#vd-xAccel-acceltext{
	left:40%;
	top: 18%;

	text-align:left;		// Overwrite base class
}

#vd-yAccel-acceltext{
	left:40%;
	top: 35%;

	text-align:left;		// Overwrite base class
}

#vd-Accel-gstext{
	top: 65%;
}