#container{
	max-width: 1850px;
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
#content{
	background-color: purple;
	
	float: left;
	width: 1480px;
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	float: right;
	
	width: 260px;
	height: 530px;
	margin: 5px 5px 5px 5px;

	background-color: orange;
}


}


#heartRate{
	background-color: black;
}