#container{
	max-width: 1080px;
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
#content{
	background-color: purple;
	
	float: left;
	width: 1080px;
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	width: 1070px;
	height: 50px;
	margin: 5px 5px 5px 5px;

	background-color: orange;
}



#heartRate{
	background-color: green;
}