#container{
	max-width: 540px;
}


/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
#content{
	background-color: purple;
	
	float: left;
	width: 540px;
	max-width: 1920px;		/* Reset max-width to high value */
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	width: 530px;
	max-width: 1920px;		/* Reset max-width to high value */

	height: 50px;
	margin: 5px 5px 5px 5px;

	background-color: orange;
}

/*******************************************/
/* The container for the single width tile */
/* - Defines float & width characteristics */
/*******************************************/
.singleTile{
	width: 260px;
}

/*******************************************/
/* The container for the double width tile */
/* - Defines float & width characteristics */
/*******************************************/
.doubleTile{
	float: left;
	
	width:100%;
	max-width: 520px;

	/* Add padding of offet for not exactly 2X between single 
	vs double tile (i.e. 2xsingle tiles=730px (360px+2x5px))*/
	padding-right: 5px;
	padding-left: 5px;

	margin: 5px 5px 5px 5px;
}

/*******************************************/
/* Used to get the Width:Height ratio of   */
/* a double width tile.      			   */
/* - Change padding-top for different ratio*/
/*******************************************/
.doubleTile:before{
	content: "";
	float:left;
	padding-top: 50%; 	/* initial ratio of 1:1*/
}


#heartRate{
	background-color: blue;
}