/*******************************************/
/* Container for content + nav bar 		   */
/* - Used to keep tile layout in order 	   */
/* - centres to screen			    	   */
/*******************************************/
#container{

	background-color: cyan;

	margin:0 auto;
	max-width: 270px;

}


/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	max-width: 260px;
	height: 50px;
	margin: 5px 5px 5px 5px;

	background-color: orange;
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
#content{
	background-color: purple;
	
	float: left;
	max-width: 270px;
}


.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*******************************************/
/* The container for the single width tile */
/* - Defines float & width characteristics */
/*******************************************/
.singleTile{
	float: left;
	
	width:100%;
	max-width: 260px;

	margin: 5px 5px 5px 5px;
}

/*******************************************/
/* Used to get the Width:Height ratio of   */
/* a single width tile.      			   */
/* - Change padding-top for different ratio*/
/*******************************************/
.singleTile:before{
	content: "";
	float:left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

/*******************************************/
/* The container for the double width tile */
/* for Xs screen size. Changes to same size*/
/* as a singleTile.						   */
/* - Defines float & width characteristics */
/*******************************************/
.doubleTile{
	float: left;
	
	width:100%;
	max-width: 260px;

	margin: 5px 5px 5px 5px;
}

/*******************************************/
/* Used to get the Width:Height ratio of   */
/* a single width tile.      			   */
/* - Change padding-top for different ratio*/
/* http://www.mademyday.de/css-height-equal*/
/* s-width-with-pure-css.html			   */
/*******************************************/
.doubleTile:before{
	content: "";
	float:left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}



#heartRate{
	background-color: red;
}
