/*******************************************/
/* Container for content + nav bar 		   */
/* - Used to keep tile layout in order 	   */
/* - centres to screen			    	   */
/*******************************************/
.container{
	margin:0 auto;
}

.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	margin: $nav-margin $nav-margin $nav-margin $nav-margin;
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
.content{
	float: left;
}

/*
.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
*/

/*******************************************/
/* The container for the single width tile */
/* - Defines float & width characteristics */
/*******************************************/
.singleTile{
	float: left;

	width: 100%;
	max-width: $single-tile-width;
	
	height: $single-tile-height;

	margin: $single-tile-margin $single-tile-margin $single-tile-margin $single-tile-margin;
}


/*******************************************/
/* Used to get the Width:Height ratio of   */
/* a single width tile.      			   */
/* - Change padding-top for different ratio*/
/*******************************************/
/*
.singleTile:before{
	content: "";
	float:left;
	padding-top: 100%; 	// initial ratio of 1:1
}
*/


/*******************************************/
/* The container for the double width tile */
/* for all screen size. 				   */
/*******************************************/
.doubleTile{
	float: left;

	margin: $double-tile-margin $double-tile-margin $double-tile-margin $double-tile-margin;

	@media #{$notsml-screen}{
		width:100%;
		max-width: $double-tile-width-full;
	}

	height: $double-tile-height;
}

/*******************************************/
/* Used to get the Width:Height ratio of   */
/* a single width tile.      			   */
/* - Change padding-top for different ratio*/
/* http://www.mademyday.de/css-height-equal*/
/* s-width-with-pure-css.html			   */
/*******************************************/
/*
.doubleTile:before{
	content: "";
	float:left;
	padding-top: 100%; 	// initial ratio of 1:1
}
*/
