/*******************************************/
/* Container for content + nav bar 		   */
/* - Used to keep tile layout in order 	   */
/* - centres to screen			    	   */
/*******************************************/
.container{
	margin:0 auto;
	width: $container-width-dynamic;
}

/*******************************************/
/* Clears all floats			 		   */
/*******************************************/
.clearfix:after { 
   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	margin: $nav-margin;
	height: $nav-height;
	width: $nav-width;
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
.content{
	float: left;
	width: $content-width;
}


/*******************************************/
/* The container for the single width tile */
/* - Defines float & psudeo height box     */
/*******************************************/
.singleTile{
	float: left;

	// Psudeo element to provide dynamic height, based on width & w/h ratio
	&::before{
		content: "";
		float:left;

		// Scale height. Small/Med screens default to wide screen ratio
		padding-top: $single-tile-height-wide-pc; 	

		@media #{$std-screen}{
			// For large screen, scale height for non-wide screen	
			padding-top: $single-tile-height-std-pc; 	
		}
		@media #{$wide-screen}{
			// For large screen, scale height for wide screens
			padding-top: $single-tile-height-wide-pc; 	
		}
	}
}


/*******************************************/
/* The container for the double width tile */
/* - Defines float & psudeo height box     */
/*******************************************/
.doubleTile{
	float: left;

	// Psudeo element to provide dynamic height, based on width & w/h ratio
	&::before{
		content: "";
		float:left;

		// Scale height. Small/Med screens default to wide screen ratio
		padding-top: $double-tile-height-wide-pc; 	

		@media #{$std-screen}{
			// For large screen, scale height for non-wide screen	
			padding-top: $double-tile-height-std-pc; 	
		}
		@media #{$wide-screen}{
			// For large screen, scale height for wide screens
			padding-top: $double-tile-height-wide-pc; 	
		}
		@media #{$med-screen}{
			// For med screens, use this scale for height on double tiles
			padding-top: $double-tile-height-med-pc;
		}
	}
}