/*******************************************/
/* The container for the single width tile */
/* - Width and margin will change on       */
/*   large-screen break.				   */
/*******************************************/
.singleTile{
	@media #{$large-screen}{
		width: $single-tile-width-large;
		min-width: $single-tile-min-width;
		margin: $single-tile-margin-large-pc;
	}
}


/*******************************************/
/* The container for the double width tile */
/* - Width and margin will change on       */
/*   large-screen break.				   */
/*******************************************/
.doubleTile{
	@media #{$large-screen}{
		width: $double-tile-width-large;
		min-width: $double-tile-min-width-full;
		margin: $double-tile-margin-large-pc;
	}
}

