/*******************************************/
/* The container for the single width tile */
/* - Width and margin will change on       */
/*   med-screen break.				  	   */
/*******************************************/
.singleTile{
	@media #{$med-screen}{
		width: $single-tile-width-med;
		min-width: $single-tile-min-width;
		margin: $single-tile-margin-med-pc;
	}
}

/*******************************************/
/* The container for the quad width tile   */
/* - Width and margin will change on       */
/*   med-screen break.				   */
/*******************************************/
.quadTile{
	@media #{$notsml-screen}{
		width: $quad-tile-width-large;
		min-width: $quad-tile-min-width-full;
		margin: $quad-tile-margin-large-pc;
	}
}

/*******************************************/
/* The container for the double width tile */
/* - Width and margin will change on       */
/*   med-screen break.				  	   */
/*******************************************/
.doubleTile{
	@media #{$med-screen}{
		width: $double-tile-width-med;
		min-width: $double-tile-min-width-full;
		margin: $double-tile-margin-med-pc;
	}
}

/*******************************************/
/* The container for the parent nav menu   */
/* - Handles dynamic margin sizes: 		   */
/*******************************************/
.navBar, .headBar{
	@media #{$med-screen}{
		margin: $nav-margin-med-pc;
		width: $nav-width-med;
		}	
}