/*******************************************/
/* Navigation Bar Styles				   */
/*******************************************/

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
// .navBar, .headBar{
.headBar{	
	float: left;
	// Psudeo element to provide dynamic height, based on width & w/h ratio
	&::before{
		content: "";
		float:left;

		// Scale height. Small/Med screens default to wide screen ratio
		padding-top: $nav-height; 	
	}

	// This horizontally centres the content
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

}

.navBar{
	float:left;
}

.headBar h1{
	// Offset left margin
	margin-left: 2%;
	
}



// Parent ul for nav bar
ul.navigation{

	// Sets the top level button to far left/top
	float:left;
	position:relative;
	padding:0%;		
	margin:0%;

	// Set width of top level button
	width:100%;

}

.navSelect{
}

// 'Select Vehicle' button
ul.navigation li, .navMenuStatus{
	display:inline;
	float:left;
	position:relative;

	margin: 0px auto;
	height: auto;
	text-align:center;

	@media #{$sml-screen}{
		width:$navSelect-width-sml;
	}

	@media #{$med-screen}{
		width:$navSelect-width-med;
	}
	@media #{$large-screen}{
		width:$navSelect-width-large;
	}	

	height:auto;
}

ul.navigation li ul{
	position:absolute;		//  Removes the hidden menu from parent height
	width: 100%;
	
	visibility:hidden;
	opacity:0;

	padding:0px;
	margin:0px;

	z-index:99999;				// Bring to top of stack
}

ul.navigation li ul li {
	width:100%;
}

.navMenuStatus{
	text-align:left;
	margin-left:2%;
}

#navHome{
	display:inline;
	float:right;
	position:relative;

	@media #{$sml-screen}{
		width:$nav-width-sml/6.6;
		margin-top:3%;
	}

	@media #{$med-screen}{
		width:$nav-width-med/14;
		margin-top:1%;	
	}
	@media #{$large-screen}{
		width:$nav-width-large/24;
		margin-top:0.25%;
	}	
}

.navHomeImg{
	float:right;
	position:relative;

	margin: 0px auto;
	margin-right:10%;

	width: 50%;
	height: auto;
}

/*
#navMenuStatuscolor{

	width:20%;
	height:100%;
}
*/


