/*******************************************/
/* The container for the single width tile */
/* - Width and margin will change on       */
/*   sml-screen break.				   	   */
/* - quadTile same as singleTile in sml-   */
/* screen								   */
/*******************************************/
.singleTile, .quadTile{
	@media #{$sml-screen}{
		width: $single-tile-width-sml;
		margin: $single-tile-margin-sml-pc;
	}
}


/*******************************************/
/* The container for the double width tile */
/* - Width and margin will change on       */
/*   sml-screen break.				       */
/*******************************************/
.doubleTile{
	@media #{$sml-screen}{
		width: $double-tile-width-sml;
		margin: $double-tile-margin-sml-pc;
	}
}

/*******************************************/
/* The container for the parent nav menu   */
/* - Handles dynamic margin sizes: 		   */
/*******************************************/
.navBar, .headBar{
	@media #{$sml-screen}{
		margin: $nav-margin-sml-pc;
		width: $nav-width-sml;
		}	
}