/*******************************************/
/* The container for the single width tile */
/* - Width and margin will change on       */
/*   large-screen break.				   */
/*******************************************/
.singleTile{
	@media #{$sml-screen}{
		width: $single-tile-width-sml;
		margin: $single-tile-margin-sml-pc;
	}
}


/*******************************************/
/* The container for the double width tile */
/* - Width and margin will change on       */
/*   large-screen break.				   */
/*******************************************/
.doubleTile{
	@media #{$sml-screen}{
		width: $double-tile-width-sml;
		min-width: $double-tile-min-width-compact;
		margin: $double-tile-margin-sml-pc;
	}
}
