/*******************************************/
/* Container for content + nav bar 		   */
/* - Used to keep tile layout in order 	   */
/* - centres to screen			    	   */
/*******************************************/
.container{
	@media #{$xlarge-screen}{
		width: $container-width-xlarge;
	}
}

/*******************************************/
/* The container for the parent nav menu   */
/*******************************************/
.nav{
	@media #{$xlarge-screen}{
		float: right;

		width: $nav-width-xlarge;
		height: $nav-height-portrait;
	}
}

/*******************************************/
/* The box that contains all the tiles of  */
/* content 								   */
/*******************************************/
.content{
	@media #{$xlarge-screen}{
		width: $content-width-xl-large;
	}
}