

// Speed Dial
#cons-Insur-obj{

	position:absolute;

	top:20%;
	left:0;


	width: 100%;
	height: 100%;

	// For the different screen configurations determine the correct height (padding-top)
//		@include setDynamicHeight('single', 100, 100);

//	padding-bottom:100%;

}
