// Speed Dial
#cons-Insur-obj{

	position:relative;

	width: 100%;

	height: 300px;

	//Psuedo element used to implement a dynamic height
	&::before{
		float: left;
		content:"";
		
		// For the different screen configurations determine the correct height (padding-top)
		@include setDynamicHeight('double', 100, 100);
	}	
}