/*******************************************/
/* Colors to assist debugging non-visual   */
/* elements - uncomment to enable		   */
/*******************************************/
//##### DEBUG ########################
/*
.container{ background-color: yellow;}	
.content{background-color:purple;}		
#heartRate{
	@media #{$sml-screen}{background-color: red;}
	@media #{$med-screen}{background-color: green;}
	@media #{$large-screen}{background-color: blue;}
}
*/

/*******************************************/
/* Manages colour blocks (font color found */
/* in _font-scheme.scss)				   */
/*******************************************/

body{
	background-color: $fsl-black;

}

.headBar{
	background-color: $fsl-gray;
}

.navBar{
	background-color: $fsl-blue;
}

.navSelect{
	background-color: $fsl-blue-light;
}

// Hover over Nav Select button
.navSelect:hover{
	background-color: $fsl-blue-light;
}

// Nav submenu colour
.navSelect ul{
	background-color: $fsl-blue-light;
}

// Hover over Nav submenu item
.navSelect ul li:hover{
	background-color: $fsl-blue;
}


//#### VD PAGE TILE COLOURS ########
#vd-Map{
	background-color: $fsl-orange;
}

#vd-RoadCam{
	background-color: $fsl-yellow;
}

#vd-Speed{
	background-color: $fsl-blue;
}

#vd-Accel{
	background-color: $fsl-purple-light;
}

#vd-DriverCam{
	background-color: $fsl-yellow;
}

#vd-Heart{
	background-color: $fsl-orange;
}


//#### BIG DATA PAGE TILE COLOURS ########
#bigd-info{
	background-color: $fsl-orange;
}

#bigd-evmap{
	background-color: $fsl-yellow;
}

#bigd-analy{
	background-color: $fsl-blue;
}

#bigd-evinfo{
	background-color: $fsl-purple-light;
}

#bigd-graph{
	background-color: $fsl-orange;
}

//#### STRESSFUL STREET PAGE TILE COLOURS ########
#stress-map{
	background-color: $fsl-gray;
}
.stress-cam{
	background-color: $fsl-orange;
}