/*******************************************/
/* Colors to assist debugging non-visual   */
/* elements - uncomment to enable		   */
/*******************************************/
//##### DEBUG ########################
/*
.container{ background-color: yellow;}	
.content{background-color:purple;}		
#heartRate{
	@media #{$sml-screen}{background-color: red;}
	@media #{$med-screen}{background-color: green;}
	@media #{$large-screen}{background-color: blue;}
}
*/

/*******************************************/
/* Manages colour blocks (font color found */
/* in _font-scheme.scss)				   */
/*******************************************/

body{
	background-color: $fsl-black;

}

.headBar{
	background-color: $fsl-gray;
}

.navBar{
	background-color: $fsl-blue;
}

#vd-Map{
	background-color: $fsl-orange;
}

#vd-RoadCam{
	background-color: $fsl-yellow;
}

#vd-Speed{
	background-color: $fsl-blue;
}

#vd-Accel{
	background-color: $fsl-purple-light;
}

#vd-DriverCam{
	background-color: $fsl-yellow;
}

#vd-Heart{
	background-color: $fsl-orange;
}

