/*******************************************/
/* MIXINS								   */
/*******************************************/

// Centre text within the HTML block
@mixin centerText(){
	width:100%;
	text-align: center;
}

/*******************************************/
/* Font schemes	(size, style) */
/*******************************************/


body{
	// Define default font settings
	font-family: $default-font-family;
	font-weight: $font-light;
}

// Set colour and weight for header / nav / Tile titles
.navBar h1, .headBar h1, .tileTitle, .navSelect ul li a, .navSelect ul li h2, .navMenuItem h2{
	font-weight: $font-light;
	color: $fsl-white;
	text-decoration:none;
	cursor:default;

	// Do not allow the user to 'select' the text
	@extend .noselect;
}

.navBar h1{
	@include setDynFontMarg($font-margin-nav-h1);
}

.headBar h1{
	@include setDynFontMarg($font-margin-head-h1);
}

.navMenuStatus h1{
	font-weight: $font-normal;
}

// Set font size and spacing for Nav h1
.navBar h1{
	@include setDynFont($font-size-nav-h1);

}

// Set font size and spacing for Nav h2
.navSelect ul h2{
	@include setDynFont($font-size-nav-h2);
}

// Change font colour of Nav Select button on hover
.navSelect:hover h1{
	color: $fsl-gray;
}

// Set 
.navSelect ul li:hover{
	color: $fsl-gray;
}


// Set font size and spacing for Header h1
.headBar h1{
	@include setDynFont($font-size-head-h1);

}

// Set font size and spacing for Nav header 1
.tileTitle{
	@include setDynFont($font-size-h1);
	float:left;
	width:100%;
	margin-top: 5%;
	margin-bottom: 2%;
	text-align: center;
}

// tileTitle, but for double tiles: need to margin % / 2
.doubleTile{
	.tileTitle{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	}
}

// Use exception for double tiles where the title is not centre-aligned
.tileTitleLeft{
		width:auto;
		margin-left: 2%;
		text-align:left;
}


// Font settings for majority of text in tiles
.dataH1{
	@include setDynFont($font-size-data-h1);
	font-weight: $font-normal;
	color: $fsl-white;
}

.dataH1center{
	@include centerText();
	@extend .dataH1;
}

.dataH2{
	@include setDynFont($font-size-data-h2);
	font-weight: $font-normal;
	color: $fsl-white;
}

.dataH2light{
	@extend .dataH2;
	font-weight: $font-light;
}

.dataH2center{
	@include centerText();
	@extend .dataH2;
}

.dataH3{
	@include setDynFont($font-size-data-h3);
	font-weight: $font-normal;
	color: $fsl-white;
}

.dataH3light{
	@extend .dataH3;
	font-weight: $font-light;
}

.dataH3center{
	@include centerText();
	@extend .dataH3;
}

.dataH4{
	@include setDynFont($font-size-data-h4);
	font-weight: $font-normal;
	color: $fsl-white;
}

.dataH4light{
	@extend .dataH4;
	font-weight: $font-light;
}

.dataH4center{
	@include centerText();
	@extend .dataH4;
}

.dataH5{
	@include setDynFont($font-size-data-h5);
	font-weight: $font-normal;
	color: $fsl-white;
}

.dataH5light{
	@extend .dataH5;
	font-weight: $font-light;
}