/*******************************************/
/* Image Specific						   */
/*******************************************/

// Size of Single Tile Image
img.resizeImgSingle{
    margin: $img-single-margin;
    width: $img-single-width;
    height: auto;
}

// Size of Double Tile Image
img.resizeImgDouble{
	
	// IF on sml-screen resolution, use single tile dimensions
	@media #{$sml-screen}{
		margin: $img-single-margin;
    	width: $img-single-width;
	}

	margin: $img-double-margin;
    width: $img-double-width;
    height: auto;
}

// Make the double tile images float left
img.layoutImgDouble{
	// IF on !sml-screen resolution, float right
	@media #{$notsml-screen}{
		float:right;
		margin-right: 10%;
	}

}